grant {
    //====================================================================
    permission java.io.FilePermission "-", "read";
    permission java.io.FilePermission "/-", "read";
    permission java.io.FilePermission "/tmp/-", "write";
    //====================================================================
    permission java.net.SocketPermission "*", "listen, connect, accept, resolve";
    //====================================================================
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.util.PropertyPermission "user.name", "read";
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.class.path", "read";
    permission java.util.PropertyPermission "java.security.policy", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "server.hostname", "read";
    permission java.util.PropertyPermission "server.port", "read";
    permission java.util.PropertyPermission "client.hostname", "read";
    permission java.util.PropertyPermission "client.port", "read";
    permission java.util.PropertyPermission "server.codebase", "read";
    permission java.util.PropertyPermission "java.library.path", "read";
    permission java.util.PropertyPermission "lib.url", "read";
    //====================================================================
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "loadLibrary.*";
    permission java.lang.RuntimePermission "shutdownHooks";
    //====================================================================
};
